<h1>Edit day_list</h1>

<form id="edit-day_list" name="day_list">
  <div class="field">
    <label for="date"> date:</label>
    <input type="text" name="date" id="date" value=<%= date %> >
  </div>

  <div class="actions">
    <input type="submit" value="Update Day list" />
  </div>

</form>

<a href="#/index">Back</a>