<h1>Listing activities</h1>

<table id="activities-table">
  <tr>
    <th>Title</th>
    <th>Comment</th>
    <th>Estimate</th>
    <th>Day list</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Activity</a>