<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Comment:</b>
  <%= comment %>
</p>

<p>
  <b>Estimate:</b>
  <%= estimate %>
</p>

<p>
  <b>Day list:</b>
  <%= day_list_id %>
</p>


<a href="#/index">Back</a>